<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">How it works</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>


<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="headText">
    <h1 class="display-4">The Calorie Calculator <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </h1>
    <h4>by Junaid Mohamed</h4>
  </div>
<hr>
    <p class="lead">What makes this calorie calculator better than others? When accounting for activity level, other calculators aren't specific.
       Somebody with a sedentary job who works out 5 times a week is the same as somebody with a sedentary job who doesnt work out at all to other calculators. This calculator takes into
      account your lifestyle AND exercise to get you the most accurate numbers. If you want your best estimate of how many calories you need to eat to meet your goals, you're in luck.</p>
  </div>
</div>
