.nav{
  /* padding-top: 25px; */
  font-size: 1.2em;
  background-color: black;
  display: flex;
}

a {
  color: white;
  font-family: "Verdana Header", Times, serif;
  /* font-family: "Lucida Console", Monaco, condensed; */

}



a:hover {
  background-color: white;
  color: black;
}



