<ul class="list-group">
    <li class="list-group-item">Have any questions? Have any advice or feedback? Don't hesitate to contact me! Send me an email at
<strong>junaid98m@gmail.com</strong>. My name's Junaid Mohamed, I'm a senior at Georgia State University studying technology and I decided to make this web app so I could bring together 2 of my
favorite things: Fitness and Software. I graduate in May 2020 and if you want to know more about me or think I'd make a good addition to your team, check out
 my website <a href="http://www.junaidmohamed.com/">www.junaidmohamed.com</a>.
    </li>
</ul>
