<div class="content">

<div class="list-group">
    <a class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Step 1: Calculate BMR</h5>
      </div>
      <p class="mb-1">Basal metabolic rate is calculated using the <em>Mifflin-St Jeor Equation</em>, which is seen as the most scientifically accurate
   method to calculate BMR today. For males, this formula is 10(weight) + 6.25(height) + 5. For females, it is 10(weight) + 6.25(height) - 161.</p>
    </a>
<!-- ------------ -->
    <a class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Step 2: Add Activity Level Multiplier</h5>
      </div>
      <p class="mb-1">Based on the activity level you enter, your base metabolic rate is multiplied to get your maintenance calories (not accounting for exercise yet).</p>
      <ul>
        <li>Sedentary: BMR * 1.2</li>
        <li>Lightly Active: BMR * 1.375</li>
        <li>Active: BMR * 1.55</li>
        <li>Very Active: BMR * 1.725</li>
      </ul>
    </a>
    <!-- ----------- -->
    <a class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Step 3: Account for Calories Burned during Exercise</h5>
      </div>
      <p class="mb-1">Here's the tricky part. The calculator multiplies how many days a week you exercise by how many calories you burn on average per day and then divides
        that number by 7 (because there are 7 days a week) to get the number of extra calories you need to maintain your weight based on your exercise. This number is added to step 2 to get your
        final maintenance calorie calculation. For example if I go to the gym 5 days a week and burn 500 calories each day, I need 2500 extra calories this week to maintain myself. And 2500/7 = 357, so I need surplus of 357 calories a day to keep me at the same
        weight.
      </p>
    </a>
    <!-- -------------- -->
    <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Step 4: Calculate Goal Calories </h5>
        </div>
        <p class="mb-1">Finally, it takes how many pounds you want to lose/gain this week, multiples that by 3500 (because there are 3500
          calories in a pound of body mass), divides that number by 7, and either adds or subtracts it to your maintenance calories to get you
          your goal calories. For example, if I want to lose .5 pounds this week, that means eat 1750 less calories in total this week, which means
          I should aim to eat 250 calories less than my maintenance calories each day.
        </p>
      </a>
  </div>

  <br>
  <a class="btn btn-outline-primary btn-lg btn-block" href="">Return to home</a>

</div>


