form{
  padding: 50px;
}

.theBasics{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* for alerts at bottom of screen */
.alert {
border: 1px solid red;
}

/* if a form value is touched or invalid this triggers */
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.hide {
  display: none;
}

div.show {
  display: initial;
}

.headText {
  width: 100%;
  text-align: center;
  display: inline-block;
  /* font-family: "Lucida Console", Monaco, monospace; */
}

